<style>
	body {
		margin: 0;
		padding: 0;
	}

	.container {
		position: relative;
		box-sizing: border-box;
		font-family: Oswald;
		line-height: 1.6;
		width: 100%;
		max-width: 1200px;
		height: 630px;
		min-height: 630px;
		max-height: 630px;
		padding: 1rem 13.43rem;
		display: flex;
		align-items: center;
		color: #fff;
		overflow: hidden;
	}

	.quote {
		position: relative;
	}

	.quote p {
		margin: 0;
	}

	.quote::before {
		position: absolute;
		content: '';
		top: 0;
		left: -2.6rem;
		width: 14px;
		background-color: red;
		height: 100%;
	}

	.logo {
		width: 172px;
		position: absolute;
		bottom: 1.25rem;
		right: 1.125rem;
	}
</style>

<div class="container"
	style="background: linear-gradient(to right, rgba(1,27,55,.8),rgba(0,89,113,.8)), url({{ background }}) no-repeat center / cover;">
	<img src="https://cdn2.hubspot.net/hubfs/175296/kyan_images/vieo-logo-2015-WHITE-648977-edited.png" alt=""
		class="logo">
	<div class="quote">
		<p>{{ quote }}</p>
	</div>
</div>
<script>
	const getFontSize = (textLength) => {
		if (textLength < 259) {
			return "45px";
		} else if (textLength < 450) {
			return "35px";
		}
	}

	const boxes = document.querySelectorAll('.quote p')

	boxes.forEach(box => {
		box.style.fontSize = getFontSize(box.textContent.length)
	})
</script>
