body {
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	box-sizing: border-box;
	font-family: Oswald;
	line-height: 1.6;
	width: 100%;
	max-width: 1200px;
	height: 630px;
	min-height: 630px;
	max-height: 630px;
	padding: 1rem 13.43rem;
	display: flex;
	align-items: center;
	color: #fff;
	overflow: hidden;
}

.quote {
	position: relative;
}
.quote p {
	margin: 0;
}
.quote::before {
	position: absolute;
	content: '';
	top: 0;
	left: -2.6rem;
	width: 14px;
	background-color: red;
	height: 100%;
}

.logo {
	width: 172px;
	position: absolute;
	bottom: 1.25rem;
	right: 1.125rem;
}