<style>
	body {
		margin: 0;
		padding: 0;
	}

	.container {
		position: relative;
		box-sizing: border-box;
		font-family: Oswald;
		font-weight: 400;
		width: 100%;
		max-width: 1200px;
		height: 630px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		overflow: hidden;
		padding: 1rem 7.3rem;
	}

	.section {
		z-index: 1;
	}

	.section__avatar {
		width: 180px;
		height: 180px;
		overflow: hidden;
		position: relative;
		border-radius: 50%;
		box-shadow: 0px 0px 51px rgba(0, 0, 0, .36);
		margin-bottom: 28px;
	}

	.section__avatar img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}

	.title {
		text-transform: uppercase;
		font-weight: 400;
		font-size: 63px;
		line-height: 1.14;
		margin: 0;
	}

	.name {
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		font-size: 24px;
		line-height: 1.2;
		margin: 0;
	}

	.logo {
		width: 177px;
		margin-bottom: 2.25rem;
	}

	.gradient {
		position: absolute;
		top: 0;
		left: 0;
		width: 130%;
		height: 100%;
		background: linear-gradient(to right, rgba(0, 89, 113, 1), rgba(0, 0, 0, 0));
		border-radius: 0% 0% 100% 0% / 0% 0% 60% 0%;
		box-shadow: 0 0 51px rgba(0, 0, 0, 0.36);
	}
</style>
<div class="container" style="background: url({{background}}) no-repeat center / cover;">
	<div class="gradient"></div>
	<div class="section" style="margin-right: 4.75rem;">
		<div class="section__avatar">
			<img src={{avatar}} alt="">
		</div>
		<h1 class="name">{{ fullName }}</h1>
	</div>
	<div class="section">
		<img src="https://cdn2.hubspot.net/hubfs/175296/kyan_images/vieo-logo-2015-WHITE-648977-edited.png" alt=""
			class="logo">
		<h1 class="title">{{ title }}</h1>
	</div>
</div>
